<html>
	<head>
		<title>Meter <%=@meter[1][:caption]%> </title>
	</head>
	<body>
		<h3>Meter <%=@meter[1][:caption]%></h3>

			<tr style="background-color:#5f9f8f">
				<th> <%= @meter[1][:caption] %> </th>
			</tr> 
			<tr>
				<td>
					<table border="1px solid black" width="100%">
						<% ap @obj[@meter] %>

						<% @obj[@meter][:chanels].sort.each do |ch| %>
							<tr style="background-color: #EEDCDA">
								<th align="center"> Chanel <%= ch %> </th>
								<td align="center"> Kind </td>
								<td align="center"> Value </td>
								<td align="center"> Date </td>
								<td align="center"> Is good </td>
							</tr>
							<% @obj[@meter][:parm_kinds].map{|pk| [pk, @cfg[:param_kinds].key({id: pk})]}.sort.each do |pkind| %>
								<% val = @obj[@meter][:data].detect{|f| (f[:chanel] == ch) && (f[:parm_kind] == pkind[0])} %>
								<tr>
									<td> <%= val[:caption]%> </td>
									<td> <%= pkind[1] %></td>
									<td align="right" width="20%"> <%= val[:value] %></td>
									<td align="center"> <%= val[:date_received].strftime("%d-%m-%Y %H:%M") %></td>
									<td align="right"> <%= val[:is_good]?"Good":"Bad" %></td>
								</tr>
							<% end %>
						<%end%>
					</table>
				</td>

			</tr>
